<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FoodDelivery.DAL.Properties.Settings.FoodDeliveryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\数据库作业-林立老师\EduBaseDemo\EXample2\WebSite1\App_Data\FoodDelivery.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>